#!/usr/bin/env bash

alias l="ls -al"
alias ld="ls -ld */"

alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."

alias h="history | grep"

alias k="kubectl"
alias tf="terraform"
alias pkr="packer"

alias pip='pip3'
alias mkenv='python3 -m venv .venv'
alias startenv='source .venv/bin/activate && which python3'
alias stopenv='deactivate'

# Override the setting that disables virtualenv requirement
# Generally used for packages intended for global install
alias pip-user='PIP_REQUIRE_VIRTUALENV=false python3 -m pip'

# Show contents of dir after action
function cd () {
    builtin cd "$1"
    ls -ACF
}
